{% extends 'main/layout.html' %}
{% load static %}

{% block title %}AddCar{% endblock %}

{% block autocontent %}
<main class="main-add-car">
<form method="post" class="add-car" enctype="multipart/form-data">
{% csrf_token %}
    <h4>Добавить автомобиль</h4>
    {% for f in car_form %}
    <div class="form-field">
        <label class="form-label">{{ f.label }}:</label>
        <div class="form-input">{{ f }}</div>
    </div>
    {% endfor %}
    {% if errors %}
<div class="form-error">
    <ul>
        {% for error_list in errors %}
            {% for error in error_list %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}
    <button class="btn btn-success">Добавить</button>
</form>
</main>
{% endblock %}